body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav ul{
    list-style: none; /*no mostrar viñeta de la lista*/
    padding: 0;
    margin: 0;
}

.sidenav ul a{
    width: 10px;
}

.sidenav ul li{
    padding: 10px;
    position: relative;
    border-top: 1px solid white;
    cursor: pointer;
    -webkit-webkit-transition: all 0.3s;
    -moz-webkit-transition: all 0.3s;
    -ms-webkit-transition: all 0.3s;
    -o-webkit-transition: all 0.3s;
    webkit-transition: all 0.3s;
}

.sidenav ul li a{
    text-decoration: none; /*no subraya los enlaces*/
}

.sidenav ul li:hover{
    background-color: green;
}

.sidenav ul li ul li{
    padding: 10px;
    top: 15px;
    background: #111;
    color: #111;
    margin-right: 0;
    width: 100%;
}

.sidenav ul li ul li:hover{
    background-color: light-green;
}

.sidenav ul ul{
    display: none;
}

.sidenav .closebtn {
    position: absolute;
    color: white;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    height: : 50px;
}

a{
    text-align: none;
    color: #fff;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
