@font-face { /*crear tu propia fuente*/
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*ESTILOS PARA EL CUERPO DE LA PAGINA*/

body{
	color: rgba(255, 255, 255, .4);
	padding: 0 1em;
	background: #252528;
	font-family: 'Raleway', sans-serif;
}

h1{
	color: rgba(255, 255, 255, .7);
	text-align: right;
	font-size: 1.5em;
	margin-bottom: 1em;
}

article{
	padding: .5em 0;
	line-height: 1.5;
}

footer{
	margin-top: 2em;
	border-top: 1px solid rgba(255, 255, 255, .1);
	padding-top: 1em;
	text-align: right;
	font-size: .8em;
}

footer a{
	color: rgba(255, 255, 255, .7);
	text-decoration: none;
}

footer a:hover{
	text-decoration: underline;
}

/*FIN DE ESTILOS PARA EL CUERPO DE LA PAGINA*/

/*INICIO MENU*/

.menu ul{
	list-style-type: none; /*quitar viñeta de los subelementos tipo lista dentro de una lista*/
}

.menu{
	list-style: none; /*quitar veñat de la lista*/
	line-height: 42px; /*altura  de cada elemento del menu*/
	margin: 2em auto; /*posicionado arriba y centrado*/
	/*outline: 1px solid red;*/
	padding-left: 0; /*quitar el border automatico por el navegador*/
	width: 15em; /*ancho de todo el menu*/
}

.menu a{
	color: #ddd;
	display: block; /*ocupe todo el ancho del div o pagina donde se encuentre*/
	text-decoration: none; /*quitar el subrayado del enlace*/
	text-transform: uppercase; /*transformar a mayusculas los elementos*/
	width: 100%; /*hace que el puntero cambie en toda la caja solo funciona con la propiedad anterior*/
	--webkit-transition: all .8s; /*efecto de transicion*/
	-o-transition: all .8s;
	transition: all .8s;
}

.menu a:hover{
	margin-left: 1em; /*movimiento del contenido al pasar el puntero*/	
}

.menu li{
	box-shadow: 3px 0 rgba(255, 255, 255, .2) inset; /*crea sombra en forma de cada hacia dentro*/
	margin-bottom: 5px; /*margen inferior*/
	padding-left: 1.5em; /*margen desde la izquierda*/
	--webkit-transition: all .8s; /*efecto de transicion*/
	-o-transition: all .8s;
	transition: all .8s;
}

.menu li:hover{
	box-shadow: 15em 0 rgba(255, 255, 255, .2) inset;
}

.menu li ul li{
	box-shadow: 3px 0 rgba(255, 255, 255, .2) inset; /*crea sombra en forma de cada hacia dentro*/
	margin-left: -20px;
	margin-bottom: 5px; /*margen inferior*/
	padding-left: 1.5em; /*margen desde la izquierda*/
	--webkit-transition: all .8s; /*efecto de transicion*/
	-o-transition: all .8s;
	transition: all .8s;
}

.menu ul{
    display: none;
}

/*FIN MENU*/

/* POSICION RESPONSIVE MENU*/

nav{
	background: rgba(0, 0, 0, .8);
	box-sizing: border-box;
	left: -18em; /*ocultar menu*/
	height: 100%;
	padding-top: 3em;
	position: absolute; /*colocarlo en la posicion normal en la top de la pagina sin importar lo que haya*/
	top: 0;
	transition: all .3s;
	z-index: 20;
}

nav.mostrar{
	left: 0;
}

#mostrar-nav{
	background: url(../images/menu2.png);
	left: 2em;
	height: 32px;
	position: absolute;
	top: 2em;
	width: 32px;
	z-index: 30;
	cursor: pointer;
}
